.card {
  border-radius: 0;
  border: 0;

  .card-img,
  .card-body,
  .card-footer {
    border-radius: 0;
  }

  .card-img {
    border: 0;
  }

  .card-body {

  }

  .card-footer {
    border: 0;
    padding-left: 0;
    padding-right: 0;
    background: transparent;
  }
}
