$primary-color:                     #aab5b9;
$primary-color-dark:                #7f898c;
$primary-color-light:               #CBD2D4;
$secondary-color:                   #C3978A;
$secondary-color-dark:              #b98380;
$secondary-color-light:             #f2e1da;

$white-color:                       #ffffff;
$black-color:                       #000000;
