@import "colors";

$form-control-padding-x: 1em;
$form-control-padding-y: 1em;
$form-control-border: 1px solid rgba(0, 0, 0, 0.4);
$form-control-height: 48px;
$form-control-label-font-size: 14px;
$form-control-label-text-transform: uppercase;
$form-control-color: rgba($black-color, 0.7);
$form-control-focus-border-color: rgba($black-color, 1);
$contact-form-privacy-policy-checkbox-margin-x: 4px;
$contact-form-privacy-policy-checkbox-height: 16px;
$contact-form-privacy-policy-checkbox-width: $contact-form-privacy-policy-checkbox-height;
$contact-form-privacy-policy-font-size: 12px;
$contact-form-privacy-policy-margin-x: 8px;
$contact-form-privacy-policy-text-align: justify;
.form-group {
  margin: 0;
}

.form-control-label {
  text-transform: $form-control-label-text-transform;
  font-size: $form-control-label-font-size;
}

.form-control {
  border: $form-control-border;
  border-radius: 0;
  padding: $form-control-padding-y $form-control-padding-x;
  color: $form-control-color;

  &:focus{
    box-shadow: none;
    border-color: $form-control-focus-border-color;
  }
}

input.form-control{
  height: $form-control-height;
}

.privacy-policy {
  display: flex;
  font-size: $contact-form-privacy-policy-font-size;
  text-align: $contact-form-privacy-policy-text-align;

  &-label {
    margin-left: $contact-form-privacy-policy-margin-x;
  }

  input[type='checkbox'] {
    width: $contact-form-privacy-policy-checkbox-width;
    height: $contact-form-privacy-policy-checkbox-height;
    flex: 1 0 auto;
    margin-top: $contact-form-privacy-policy-checkbox-margin-x;
  }
}
