@import "colors";

$icon-background: $black-color;
$icon-text-color: $white-color;
$icon-width: 50px;
$icon-height: $icon-width;
.icon {
  width: $icon-width;
  height: $icon-height;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: $icon-background;
  color: $icon-text-color;
}
