@import "../variables";
@import "../colors";

$offer-package-switcher-item-width: 180px;
$offer-package-switcher-item-height: $offer-package-switcher-item-width;
$offer-package-switcher-item-font-size: $font-size-xl;
$offer-package-switcher-item-font-weight: 400;
$offer-package-switcher-item-text-color: $white-color;
$offer-package-switcher-item-margin: 15px;
$offer-package-switcher-item-first-background: $primary-color-light;
$offer-package-switcher-item-second-background: $primary-color;
$offer-package-switcher-item-third-background: $primary-color-dark;

$offer-package-item-background-color: $black-color;
$offer-package-item-width: 700px;
$offer-package-item-height: 560px;
$offer-package-item-text-color: $white-color;
$offer-package-item-padding: 40px;
.offer {
  &__packages {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  // Style dla poszczególnych opisów
  &__package-item {
    position: relative;
    background-size: cover;
    display: none;
    padding: $offer-package-item-padding;

    &-wrapper {
      border: 4px solid white !important;
      z-index: 1;
      position: relative;
      padding: $offer-package-item-padding;
      color: $offer-package-item-text-color;
      min-height: $offer-package-item-height;
      width: 100%;
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.5;
      background: $offer-package-item-background-color;
    }

    &.active {
      display: block !important;
    }
  }

  &__packages-view {
    flex: 5;
  }

  // Style dla switchera
  &__packages-switcher {
    flex: 2;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;

    .switcher-item {
      border: 0;
      cursor: pointer;
      transition: 200ms;
      text-align: center;
      justify-content: center;
      margin-bottom: $offer-package-switcher-item-margin;
      color: $offer-package-switcher-item-text-color;
      font-size: $offer-package-switcher-item-font-size;
      font-weight: $offer-package-switcher-item-font-weight;
      width: $offer-package-switcher-item-width;
      height: $offer-package-switcher-item-height;
      border-radius: $offer-package-switcher-item-height;

      &:focus {
        outline: none;
      }

      &:hover {
        transform: scale(1.1);
      }

      &:nth-of-type(1) {
        background: $offer-package-switcher-item-first-background;
      }

      &:nth-of-type(2) {
        background: $offer-package-switcher-item-second-background;
      }

      &:nth-of-type(3) {
        background: $offer-package-switcher-item-third-background;
      }
    }
  }

  @media screen and (max-width: $grid-breakpoint-lg) {
    &__package-item {
      display: block !important;
      font-size: 12px;
      padding: 1em;
      margin-bottom: 1em;

      &-wrapper {
        border: 0;
        padding: 1em;
        min-height: auto;
      }
    }
  }
}
