@import "../variables";
@import "../colors";

$realization-item-margin: 15px;

$realization-description-animation-duration: 250ms;
$realization-description-text-color: $white-color;
$realization-description-font-size: $font-size-md;
$realization-description-title-font-size: $font-size-xl;
$realization-description-background: rgba($primary-color-dark, .9);
$realization-description-padding: 30px;
$realization-description-font-weight: normal;
.realizations {
  .realization {
    &__item {
      cursor: pointer;
      position: relative;
      margin-bottom: $realization-item-margin;

      &:hover {
        .realization__item-wrapper {
          opacity: 1;
        }
      }
    }

    &__item-wrapper {
      top: 0;
      left: 0;
      margin: 0;
      opacity: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      overflow: hidden;
      position: absolute;
      flex-direction: column;
      justify-content: center;
      transition: opacity $realization-description-animation-duration;
      padding: $realization-description-padding;
      color: $realization-description-text-color;
      background-color: $realization-description-background;

    }

    &__item-title {
      font-weight: bold;
      font-size: $realization-description-title-font-size;
    }

    &__item-description {
      font-size: $realization-description-font-size;
      font-weight: $realization-description-font-weight;
    }
  }
}
