@import "../colors";
@import "../variables";

$search-bar-background: $secondary-color;
$search-bar-box-shadow: 0 0 5px 2px rgba($black-color, 0.1);
$search-bar-close-button-padding-x: 20px;
$search-bar-close-button-padding-y: 17px;
$search-bar-close-button-color: $white-color;
$search-bar-z-index: 2000;
$search-bar-logo-height: 140px;
$search-bar-title: $white-color;
.search-bar {
  left: 0;
  top: 0;
  z-index: $search-bar-z-index;
  flex-wrap: wrap;
  position: fixed;
  align-items: center;
  background: $search-bar-background;
  box-shadow: $search-bar-box-shadow;
  display: none;

  &__logo {
    top: 0;
    height: $search-bar-logo-height;
  }

  &__title {
    color: $search-bar-title;
  }

  &__close-button {
    top: 0;
    right: 0;
    line-height: 1;
    text-align: center;
    position: absolute;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    color: $search-bar-close-button-color;
    padding: $search-bar-close-button-padding-y $search-bar-close-button-padding-x;
    z-index: $search-bar-z-index + 1;

    &:focus {
      outline: none;
      box-shadow: none;
    }

    &:hover {
      color: $search-bar-close-button-color;
    }
  }
}
