@import "../colors";
@import "../variables";

$search-bar-background: $secondary-color;
$search-bar-box-shadow: 0 0 5px 2px rgba($black-color, 0.1);
$search-bar-title: $white-color;
$search-bar-close-button-padding-x: 20px;
$search-bar-close-button-padding-y: 17px;
$search-bar-close-button-color: $white-color;
$search-bar-submit-button-color: $black-color;
$search-bar-submit-button-width: 64px;
.search-bar {
  width: 100%;
  height: 50%;
  z-index: 2000;
  flex-wrap: wrap;
  position: fixed;
  align-items: center;
  background: $search-bar-background;
  box-shadow: $search-bar-box-shadow;

  // Stany paska wyszukiwarki
  &.close {
    display: none;
  }

  &.open {
    display: flex;
  }

  // Elementy
  &__logo {
    top: 0;
    height: 140px;
  }

  &__title {
    color: $search-bar-title;
  }

  .form-group {
    position: relative;
  }

  .form-control {
    padding-right: $search-bar-submit-button-width;
  }

  // Przyciski

  .btn {
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  &__submit-button {
    top: 0;
    right: 0;
    padding: 0;
    height: 100%;
    position: absolute;
    text-align: center;
    color: $search-bar-submit-button-color;
    width: $search-bar-submit-button-width;

    &:hover {
      color: $search-bar-submit-button-color;
    }
  }

  &__close-button {
    top: 0;
    right: 0;
    line-height: 1;
    text-align: center;
    position: absolute;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    color: $search-bar-close-button-color;
    padding: $search-bar-close-button-padding-y $search-bar-close-button-padding-x;

    &:hover {
      color: $search-bar-close-button-color;
    }
  }
}
