@import "../colors";

$short-contact-info-item-margin-y: 16px;
$short-contact-info-font-size: 18px;
$short-contact-info-color: $black-color;
$short-contact-info-item-link-font-weight: bold;

$short-contact-icon-margin-x: 16px;

.short-contact-info {
  .contact-info {
    &__item {
      font-size: $short-contact-info-font-size;
      margin-bottom: $short-contact-info-item-margin-y;

      a {
        color: $short-contact-info-color;
      }
    }
  }

  .icon {
    margin-right: $short-contact-icon-margin-x;
  }
}
