@import "../colors";
@import "../variables";

$visualization-slider-item-height: 100vh;
$visualization-slider-item-mask-background: rgba(0, 0, 0, .1);
$visualization-slider-owl-dots-bottom-position: 40px;
$visualization-slider-title-text-color: $white-color;
$visualization-slider-title-font-size: 60px;
$visualization-slider-title-mobile-font-size: 30px;
$visualization-slider-title-text-transform: uppercase;
.visualization-slider {
  &__item {
    height: $visualization-slider-item-height;
    position: relative;

    &:before {
      top: 0;
      left: 0;
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      background: $visualization-slider-item-mask-background;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    position: absolute;
    bottom: 20%;
    width: 100%;
    z-index: 100;
    font-weight: lighter;
    color: $visualization-slider-title-text-color;
    text-transform: $visualization-slider-title-text-transform;
    font-size: $visualization-slider-title-font-size;
  }

  .owl-dots {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    bottom: $visualization-slider-owl-dots-bottom-position !important;
  }

  @media(max-width: $grid-breakpoint-md) {
    &__title {
      font-size: $visualization-slider-title-mobile-font-size;
    }
  }
}
