$visualization-slider-item-height: 100vh;
$visualization-slider-owl-dots-bottom-position: 40px;
.visualization-slider {
  &__item {
    height: $visualization-slider-item-height;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .owl-dots {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    bottom: $visualization-slider-owl-dots-bottom-position !important;
  }
}
